@model ChoosenHero

<link rel="stylesheet" href="~/css/Items.css">

<body>
    <div class="container">
        @for (int i = 1; i < 8; i++)
        {
            string categoryName = "";
            switch (i)
            {
                case 1:
                    categoryName = "Начальные";
                    break;
                case 2:
                    categoryName = "Расходуемые";
                    break;
                case 3:
                    categoryName = "Базовые";
                    break;
                case 4:
                    categoryName = "Обувь";
                    break;
                case 5:
                    categoryName = "Эпические";
                    break;
                case 6:
                    categoryName = "Мифические";
                    break;
                case 7:
                    categoryName = "Легендарные";
                    break;
            }
            <h4 class="category">@categoryName</h4>
            <div class="image-container">
                @foreach (var image in Model.Context.Items)
                {
                    var category = Model.Context.ItemsDifferences.Where((a) => a.IdItem == image.Id).Single();
                    if (category.IdDiff == i)
                    {
                        <div class="image-box">
                            <form method="post" asp-action="ChooseHero">
                                <input type="hidden" asp-for="ItemName" value="@image.ItemName">
                                <input type="hidden" asp-for="NameHero" value="@Model.NameHero">
                                <input type="hidden" asp-for="LevelHero" value="@Model.LevelHero" />
                                @for(int p =0; p<Model.AddedItems.Count; p++)
                                {
                                    <input type="hidden" asp-for="AddedItems[p]" value="@Model.AddedItems[p]">
                                }
                                <button id="heroButton" type="submit">
                                    <img class="itemImage" width="50" height="50" src="data:image/png;base64,@Convert.ToBase64String(image.ImageItem)" alt="@image.ItemName">
                                </button>
                            </form>
                            <div class="mini-block">
                                <h5>@image.ItemName</h5>
                                @if (image.Ad != null)
                                {
                                    <span class="adSpan">@($"+ {Convert.ToString(image.Ad)} силы атаки")</span>
                                }
                                @if (image.Crit != null)
                                {
                                    <span class="critSpan">@($"+ {Convert.ToString(image.Crit)} шанс критического удара")</span>
                                }
                                @if (image.Ap != null)
                                {
                                    <span class="apSpan">@($"+ {Convert.ToString(image.Ap)} сила умений")</span>
                                }
                                @if (image.AttackSpeed != null)
                                {
                                    <span class="attackSpeedSpan">@($"+ {Convert.ToString(image.AttackSpeed)} скорость атаки")</span>
                                }
                                @if (image.Movement != null)
                                {
                                    <span class="movementSpan">@($"+ {Convert.ToString(image.Movement)} скорость передвижения")</span>
                                }
                                @if (image.Armor != null)
                                {
                                    <span class="armorSpan">@($"+ {Convert.ToString(image.Armor)} защита")</span>
                                }
                                @if (image.Hp != null)
                                {
                                    <span class="hpSpan">@($"+ {Convert.ToString(image.Hp)} здоровья")</span>
                                }
                                @if (image.Modificators != null)
                                {
                                    <span class="modificatorSpan">@($"{Convert.ToString(image.Modificators)}")</span>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
    <script src="~/js/ItemsScript.js" asp-append-version="true"></script>
</body>
