
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SelectModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Items.css">


<div class="container px-lg-5 px-md-3 px-lg-0">
    
    <h4 class="category">Heroes</h4>
    @{
        var heroes = from c in Model.Context.Heroes
                orderby c.NameHero
                select c;
    }
    <div class="image-container">
        @foreach (var hero in heroes)
        {
            LOLProject.Model.BaseScale baseScale = new LOLProject.Model.BaseScale();
            LOLProject.Model.Scale heroScale = new LOLProject.Model.Scale();
            IQueryable<LOLProject.Model.SkillHero> skill;
            List<LOLProject.Model.Skill> skillsHero = new List<LOLProject.Model.Skill>();
            baseScale = Model.Context.BaseScales.Where(p => p.NameHero == hero.NameHero).Single();
            try
            {
                heroScale = Model.Context.Scales.Where(p => p.NameHero == hero.NameHero).Single();
            }
            catch { }
            skill = from a in Model.Context.SkillHeroes
                    where a.NameHero == hero.NameHero
                    select a;
            foreach (var c in skill)
            {
                var newSkill = Model.Context.Skills.Where(p => p.NameSkills == c.Nameskill).Single();
                skillsHero.Add(newSkill);
            }
                                  
            
            <div class="image-box">
                <a href="#" class="open-link" id="info-link-@hero.NameHero" onclick="toggleOverlay('@hero.NameHero')">
                    <img class="heroImage" width="112" height="72" src="data:image/png;base64,@Convert.ToBase64String(hero.ImageHeroIcon)" alt="@hero.NameHero">
                    <p style="font-size:16px; color: #c0c5cc;">@hero.NameHero</p>
                </a>
            </div>
            <div id="overlay-@hero.NameHero" class="overlay">
                <div id="info-@hero.NameHero" class="information container col-xl-6 col-md-8 col-sm-10 align-content-center toClose">
                    <h2 class="toClose" id="heroStatsName">Все о чемпионе - @hero.NameHero</h2>
                    <img id="heroStatsImage" class="col col-8 h-auto toClose" src="data:image/png;base64,@Convert.ToBase64String(hero.ImageHero)">
                    <div class="container toClose col-7 justify-content-start" id="statsContainer">
                        <h6 class="toClose">Базовые Характеристики</h6>
                        <table class="coltoClose">
                            <tr>
                                <td><span id="healthSpan" class="heroStats col-6 float-start">Здоровье</span></td>
                                <td><span id="averageHealthSpan" class="heroStats col-6">@baseScale.Health</span></td>
                                <td><span id="scaleHealthSpan" class="heroStats col-6">+@heroScale.Health</span></td>
                            </tr>
                            <tr>
                                <td><span id="manaSpan" class="heroStats col-6 float-start">Мана</span></td>
                                <td><span id="averageManaSpan" class="heroStats col-6">@baseScale.Mana</span></td>
                                <td><span id="scaleManaSpan" class="heroStats col-6">+@heroScale.Mana</span></td>
                            </tr>
                            <tr>
                                <td><span id="armorSpan" class="heroStats col-6 float-start">Защита</span></td>
                                <td><span id="averageArmorSpan" class="heroStats col-6">@baseScale.Armor</span></td>
                                <td><span id="scaleArmorSpan" class="heroStats col-6">+@heroScale.Armor</span></td>
                            </tr>
                            <tr>
                                <td><span id="magicResistSpan" class="heroStats col-6 float-start d-block">Магическая защита</span></td>
                                <td><span id="averageMagicResistSpan" class="heroStats col-6">@baseScale.ResistMagic</span></td>
                                <td><span id="scaleMagicResistSpan" class="heroStats col-6">+@heroScale.ResistMagic</span></td>
                            </tr>
                            <tr>
                                <td><span id="adSpan" class="heroStats col-6 float-start">Урон</span></td>
                                <td><span id="averageADSpan" class="heroStats col-6">@baseScale.Ad</span></td>
                                <td><span id="scaleADSpan" class="heroStats col-6">+@heroScale.Damage</span></td>
                            </tr>
                            <tr>
                                <td><span id="critSpan" class="heroStats col-6 float-start">Крит</span></td>
                                <td><span id="averageCritSpan" class="heroStats col-6">@baseScale.Crit</span></td>
                            </tr>
                            <tr>
                                <td><span id="movementSpan" class="heroStats col-6 float-start">Передвижение</span></td>
                                <td><span id="averageMovementSpan" class="heroStats col-6">@baseScale.MoveSpeed</span></td>
                            </tr>
                            <tr>
                                <td><span id="attackSpeedSpan" class="heroStats col-6 float-start">Скорость атаки</span></td>
                                <td><span id="averageAttackSpeedSpan" class="heroStats col-6">@baseScale.SpeedAttack</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="container col-11 justify-content-start">
                        <div class="container">
                            <img width="40" height="40" src="data:image/png;base64,@Convert.ToBase64String(skillsHero[0].ImageSkill)" />
                            <strong class="heroStats">@skillsHero[0].NameSkills</strong>
                            <p class="heroStats">@skillsHero[0].Opisanie</p>
                        </div>
                        <div class="container">
                            <img width="40" height="40" src="data:image/png;base64,@Convert.ToBase64String(skillsHero[1].ImageSkill)">
                            <strong>@skillsHero[1].NameSkills</strong>
                            <p>@skillsHero[1].Opisanie</p>
                        </div>
                        <div class="container">
                            <img width="40" height="40" src="data:image/png;base64,@Convert.ToBase64String(skillsHero[2].ImageSkill)">
                            <strong>@skillsHero[2].NameSkills</strong>
                            <p>@skillsHero[2].Opisanie</p>
                        </div>
                        <div class="container">
                            <img width="40" height="40" src="data:image/png;base64,@Convert.ToBase64String(skillsHero[3].ImageSkill)">
                            <strong>@skillsHero[3].NameSkills</strong>
                            <p>@skillsHero[3].Opisanie</p>
                        </div>
                        <div class="container">
                            <img width="40" height="40" src="data:image/png;base64,@Convert.ToBase64String(skillsHero[4].ImageSkill)">
                            <strong class="heroStats">@skillsHero[4].NameSkills</strong>
                            <p class="heroStats">@skillsHero[4].Opisanie</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>
<script src="~/js/HeroScript.js" asp-append-version="true"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
