@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LOLProject.Model.LolprojectContext
<!DOCTYPE html>
<html>
<head>
    <title>Images Grid</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="~/css/Items.css">
</head>
<body>
    <div class="container">
        @for (int i = 1; i < 8; i++)
        {
            string categoryName = "";
            switch (i)
            {
                case 1:
                    categoryName = "Начальные";
                    break;
                case 2:
                    categoryName = "Расходуемые";
                    break;
                case 3:
                    categoryName = "Базовые";
                    break;
                case 4:
                    categoryName = "Обувь";
                    break;
                case 5:
                    categoryName = "Эпические";
                    break;
                case 6:
                    categoryName = "Мифические";
                    break;
                case 7:
                    categoryName = "Легендарные";
                    break;
            }
            <h4 class="category">@categoryName</h4>
            <div class="image-container">
                @foreach (var image in Model.Items)
                {
                    var category = Model.ItemsDifferences.Where((a) => a.IdItem == image.Id).Single();
                    if (category.IdDiff == i)
                    {
                        <div class="image-box">
                            <img class="itemImage" width="50" height="50" src="data:image/png;base64,@Convert.ToBase64String(image.ImageItem)" alt="@image.ItemName">
                            <!--</><div class="caption">@image.ItemName</div>-->
                            <div class="mini-block">
                                <h5>@image.ItemName</h5>
                                @if (image.Ad != null)
                                {
                                    <span class="adSpan">@($"+ {Convert.ToString(image.Ad)} силы атаки")</span>
                                }
                                @if (image.Crit != null)
                                {
                                    <span class="critSpan">@($"+ {Convert.ToString(image.Crit)} шанс критического удара")</span>
                                }
                                @if (image.Ap != null)
                                {
                                    <span class="apSpan">@($"+ {Convert.ToString(image.Ap)} сила умений")</span>
                                }
                                @if (image.AttackSpeed != null)
                                {
                                    <span class="attackSpeedSpan">@($"+ {Convert.ToString(image.AttackSpeed)} скорость атаки")</span>
                                }
                                @if (image.Movement != null)
                                {
                                    <span class="movementSpan">@($"+ {Convert.ToString(image.Movement)} скорость передвижения")</span>
                                }
                                @if (image.Armor != null)
                                {
                                    <span class="armorSpan">@($"+ {Convert.ToString(image.Armor)} защита")</span>
                                }
                                @if (image.Hp != null)
                                {
                                    <span class="hpSpan">@($"+ {Convert.ToString(image.Hp)} здоровья")</span>
                                }
                                @if (image.Modificators != null)
                                {
                                    <span class="modificatorSpan">@($"{Convert.ToString(image.Modificators)}")</span>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>

    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
    -->
    <script src="~/js/ItemsScript.js" asp-append-version="true"></script>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

